<div class="container mt-4">
    <table class="table table-bordered table-striped table-center">
        <thead>
            <tr>
                <th>Rule Name</th>
                <th>Rule Description</th>
                <th>Rule Proposer</th>
                <th>Rule Region</th>
                <th>Status</th>
                <th>Approver</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let rule of rulesDetails">
                <td>{{rule.ruleName}}</td>
                <td>{{rule.ruleDesc}}</td>
                <td>{{rule.ruleProposer}}</td>
                <td>{{rule.ruleRegion}}</td>
                <!-- <div *ngIf="rule.status == 'Approved'" class="bg-success">
                            {{rule.status}}
                </div>
                <div *ngIf="rule.status != 'Approved' && rule.status != 'Rejected'" class="bg-secondary">
                    {{rule.status}}
                </div>
                <div *ngIf="rule.status == 'Rejected'" class="bg-danger">
                    {{rule.status}}
                </div> -->
                <td [ngSwitch]="rule.status">
                    <span *ngSwitchCase="ruleStatuses[0]" class="bg-success">{{rule.status}}</span>
                    <span *ngSwitchCase="ruleStatuses[1]" class="bg-danger">{{rule.status}}</span>
                    <span *ngSwitchDefault="ruleStatuses[2]" class="bg-secondary">{{rule.status}}</span>
                </td>
                <td>{{rule.approvedBy}}</td>
                <td>Action</td>
                <td class="col">
                    <button type="button" class="btn btn-success me-2" (click)="updateRule(rule, 'approved')">Approve</button>
                    <span class=""><button type="button" class="btn btn-danger" (click)="updateRule(rule, 'rejected')">Reject</button></span>
                    <button type="button" class="btn btn-warning ms-2" (click)="deleteRule(rule)">Delete</button>
                </td>
            </tr>    
        </tbody>
    </table>
   

</div>