<h1>Create Account</h1>
{{AccountName}}
<input type="text" name="AccountName" [(ngModel)]="AccountName" class="formControl"/>
<button type="button" class="btn btn-primary">Click me</button>

<div class="container mt-4 regBox">
    <h2>Register Bank</h2>
    <div class="row mt-4">
        <div class="col">Bank Name</div>
        <div class="col"><input type="text" name="bankname" [(ngModel)]="bankName" class="formControl"/></div>
    </div>
    <div class="row mt-4">
        <div class="col">Head office</div>
        <div class="col"><input type="text" name="bankname" [(ngModel)]="headOffice" class="formControl"/></div>
    </div>
    <div class="row mt-4">
        <div class="col">No. of branches</div>
        <div class="col"><input type="number" name="bankname" [(ngModel)]="NoOfBranches" class="formControl"/></div>
    </div>
    <div class="row mt-4">
        <div class="col">Total Balance</div>
        <div class="col"><input type="number" name="bankname" [(ngModel)]="TotalBalance" class="formControl"/></div>
    </div>
    <div class="row mt-4">
        <div class="col">Expected growth rate</div>
        <div class="col"><input type="number" name="bankname" [(ngModel)]="ExpectedGrowthRate" class="formControl"/></div>
    </div>
    <div class="row mt-4">
        <div class="col">No. of Customers</div>
        <div class="col"><input type="number" name="bankname" [(ngModel)]="NoOfCustomers" class="formControl"/></div>
    </div>
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col"><button type="button" class="btn btn-success" (click)="RegisterBank()">Create Account</button></div>
    </div>
</div>